:root{
    --main-background-color: #1E252B;
    --main-text-color: rgba(255, 255, 255, 0.90);
    --second-text-color: rgba(255, 255, 255, 0.55);
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--main-background-color);
}

.container {
    width: 1440px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
}