:root {
    --main-background-color: #1E252B;
    --second-background-color: #283036;
    --button-background-color: #FF6E30;
    --accent-text-color: #fff;
    --second-border-color: rgba(255, 255, 255, 0.05);
    --white-text-color: rgba(255, 255, 255, 0.80);
    --border-color: rgba(255, 255, 255, 0.10);
    --main-text-color: rgba(255, 255, 255, 0.90);
    --second-text-color: rgba(255, 255, 255, 0.55);
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--main-background-color);
}

.container {
    width: 1224px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 26px;
    padding-bottom: 70px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img-logo {
    margin-right: 15px;
}

.header-logo {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5 ;
    color: var(--main-text-color);
}

.nav-list {
    display: flex;
    gap: 25px;
}

.nav-link:hover {
    color: var(--button-background-color);
}


.nav-link {
    transition: color 0.3s ease;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: var(--second-text-color);
}

.authorization-list {
    display: flex;
}



.login-button {
    transition: color 0.3s ease;
    padding: 12px 28px;
    border-radius: 8px;
    background-color: var(--main-background-color);
    color: rgba(255, 255, 255, 0.78);
    font-size: 16px;
    font-weight: 600;
}

.login-button:hover {
    color: var(--button-background-color);
}

.sign-button {
    transition: color 0.3s ease;
    will-change: transform, padding, border;
    padding: 12px 28px;
    border-radius: 8px;
    background-color: var(--button-background-color);
    color: rgba(255, 255, 255, 0.78);
    font-size: 16px;
    font-weight: 600;
}

.sign-button:hover {
    transform: scaleX(1.1) scaleY(1.1);

}

main {
    position: relative;
}

/*.hero::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 500px;
    width: 850px;
    top: 0;
    right: 0;
    background-image: url(../зображення/hero-bg-img.png);
    background-repeat: no-repeat;
}*/
.hero {
    padding-top: 46px;
}

.hero-title {
    width: 600px;
    color: var(--main-text-color);
    font-size: 50px;
    font-weight: 500;
    line-height: 1.4;
}

.hero-dot {
    color: var(--button-background-color);
}

.hero-text {
    margin-top: 30px;
    margin-bottom: 60px;
    width: 487px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: var(--second-text-color);
}

.hero-form {
    display: flex;
    padding: 12px 8px;
    width: 498px;
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    background-color: #283036;
    /*border-color: 1.5 var(--border-color);*/
}

.hero-input {
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    color: var(--second-text-color);
    background-color: transparent;
}

/*.hero-input {
    font-size: 14px;
    font-weight: 400;
    width: 497.659px;
    height: 64px;
    border-radius: 15px;
    background-color: var(--second-background-color);
    color: var(--second-text-color);
}*/


.hero-submit {
    transition: color 0.3s ease;
    width: 130px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    color: var(--accent-text-color);
    background-color: var(--button-background-color);
}

.hero-submit:hover {
    color: var(--button-background-color);
    outline: 1px solid var(--button-background-color);
    background-color: transparent;
}

.social-list {
    margin-top: 110px;
    display: flex;
    gap: 20px;
}



.popular-section {
    padding: 200px 0;
}

.popular-title {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--main-text-color);
}

.popular-text {
    margin-top: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7px;
    color: var(--second-text-color);
}

.popular-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    row-gap: 120px;
    column-gap: 25px;
}





.popular-card {
    flex-basis: calc((100% - 50px) / 3);
    padding: 33px;
}

.popular-card:hover {
    background-color: var(--second-background-color);
    border-radius: 15px;
}

.popular-card:hover .popular-visit {
    background-color: var(--button-background-color);
}

.popular-box {
    display: flex;
}

.popular-img {
    margin-right: 30px;
}


.popular-subtitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.78);
}

.popular-status {
    color: rgba(255, 165, 55, 0.55);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.popular-desc {
    margin: 30px 0px;
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
}

.popular-btn-box {
    display: flex;
    justify-content: space-between;
}

.popular-like {
    margin-right: 12px;
    background-color: var(--main-background-color);
}

.popular-folder {
    background-color: var(--main-background-color);
}


.popular-visit {
    width: 106px;
    height: 42px;
    border-radius: 8px;
    background-color: var(--main-background-color);
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-weight: 600;
}



.popular-Load-more {
    display: block;
    transition: color 0.3s ease;
    margin: 100px auto 0 auto;
    color: var(--button-background-color);
    font-size: 20px;
    font-weight: 500;
    width: 184px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: var(--main-background-color);
}

.popular-Load-more:hover {
    color: var(--white-text-color);
    background-color: var(--button-background-color);
}

.brands-container {
    padding: 55px 82px;
    border-radius: 25px;
    border: 2px var(--second-border-color);
    background-image: radial-gradient(circle at left top,
                rgba(255, 72, 66, 0.1),
                rgba(44, 53, 61, 0.3),
                rgba(44, 53, 61, 0.2),
                rgba(44, 53, 61, 0.2));
}

.brands-title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: var(--white-text-color);
}

.brands-list {
    display: flex;
    margin-top: 55px;
    gap: 107px;
}

.new-tools {
    padding-top: 200px;
    padding-bottom: 170px;
}

.new-tools-container {
    display: flex;
    justify-content: space-between;
}

.new-tools-title {
    color: var(--main-text-color);
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3;
}

.new-tools-text {
    margin-top: 30px;
    margin-bottom: 60px;
    width: 427px;
    color: var(--second-text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
}

.new-tools-button {
    transition: color 0.3s ease;
    padding: 16px 40px;
    border-radius: 8px;
    color: var(--accent-text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    will-change: transform, padding, border;
    background-color: var(--button-background-color);
}

.new-tools-button:hover {
    transform: scaleX(1.1) scaleY(1.1)
}




.new-tools-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 24px;
    max-width: 601px;
}



.new-tools-card {
    padding: 28px 21px;
    flex-basis: calc((100% - 24px) / 2);
}

.new-tools-card:hover {
    border-radius: 15px;
    background-color: var(--second-background-color);
}

.new-tools-card:hover .new-tools-visit {
    background-color: var(--button-background-color);
    border-radius: 8px;
}

.new-tools-box {
    display: flex;
    margin-bottom: 31px;
}

.new-tools-img {
    margin-right: 30px;
}

.new-tools-subtitle {
    color: rgba(255, 255, 255, 0.78);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
}

.new-tools-status {
    color: rgba(255, 165, 55, 0.55);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.new-tools-subtext {
    margin-bottom: 30px;
    color: var(--second-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
}

.new-tools-visit {
    width: 106px;
    height: 42px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--second-text-color);
    background-color: var(--main-background-color);
}

.swiper {
    width: 1200px;
    height: 600px;
}
.reviews-img{
    top: 0;
    left: 150px;
    position: absolute;
}
.reviews-info{
    position: absolute;
    margin-left: 260px;
    margin-top: 370px;
    padding:10px 23px 16px 22px ;
    width: 265px;
        height: 91px;
        border-radius: 8px;
        border: 1px rgba(255, 255, 255, 0.10);
        background: rgba(40, 48, 54, 0.20);
}

.reviews-mane{

      font-size: 26px;
        font-weight: 500;
        letter-spacing: 0.39px;
       color: rgba(255, 253, 253, 0.78);
}

.reviews-position{
    color: rgba(255, 253, 253, 0.55);
        font-size: 16px;
        font-weight: 400;
}
.reviews-text{
    margin-left: 580px;
    margin-top: 250px;
width: 393px;
color: rgba(255, 255, 255, 0.78);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.21px;
}



.swiper-button-prev,
.swiper-button-next {
    color: var(--button-background-color);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: var(--accent-hover-color);
}


.contributors {
    padding-bottom: 240px;
}

.contributors-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--main-text-color);
}

.contributor-text {
    margin-bottom: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: var(--second-text-color);
}

.contributors-form {
    display: flex;
    margin-left: 326px;
    padding: 12px 8px;
    width: 549px;
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    background-color: #283036;
}

.contributor-input {
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    color: var(--second-text-color);
    background-color: transparent;
}

.contributors-button {
    width: 130px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    color: var(--accent-text-color);
    background-color: var(--button-background-color);
}
.footer{
        padding-top: 73px;
            padding-bottom: 98px;
}
.footer-container {
    display: flex;
    justify-content: space-between
}

.antools-logo{
    display: flex;
        align-items: center;
}

.footer-logo-img {
    margin-right: 12px;
}

.footer-logo {
    display: flex;
        align-items: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--main-text-color);
}

.footer-text {
    margin-top: 27px;
    margin-bottom: 21px;
    font-size: 16px;
    font-weight: 500;
    color: var(--main-text-color);
}

.footer-definition {
        width:260px; 
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--second-text-color);
}

.footer-wrap {
    display: flex;
    gap: 115px;
}

.contact-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: var(--main-text-color);
}

.categories-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: var(--main-text-color);
}

.info-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: var(--main-text-color);
}

.contact-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--second-text-color);
}

.contact-item {
    margin-bottom: 10px;
}

.categories-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--second-text-color);
    margin-bottom: 10px;
}

.info-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--second-text-color);
    margin-bottom: 10px;
}